{% extends 'base.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h2>Inscription - Librairie XYZ</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="nom" placeholder="Nom" required>
        <input type="text" name="prenom" placeholder="Prenom" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">S'inscrire</button>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <p>Vous avez déjà un compte ? <a href="{% url 'login' %}">Connectez-vous ici</a>.</p>
{% endblock %}